.swiper-slide-thumb-active img {
    transform: scale(.98);
    border: 2px solid lightsteelblue;
    border-radius: 5px;
}

/* Remove the input arrows in number fields */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}
